VITE_FIREBASE_API_KEY=AIzaSyB1AxvgT5wT_FUK4Wr4MGsheSBStb88kbs
VITE_FIREBASE_AUTH_DOMAIN=printflow-511cf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=printflow-511cf
VITE_FIREBASE_STORAGE_BUCKET=printflow-511cf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=928759906552
VITE_FIREBASE_APP_ID=1:928759906552:web:4307a41d3484c3a0cfbb0d
VITE_FIREBASE_DATABASE_URL=https://printflow-511cf-default-rtdb.firebaseio.com